<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
    <title>Crypt</title>
</head>
<body>
    <header>
        <a href="/" class="logo">Crypt</a>
        <ul>
            <li><a href="/instructions" class="manual-icon">Manual</a></li>
            <li><a href="/contact" class="contact-icon">Contacts</a></li>
        </ul>
    </header>
    <main>
    {%block content%}
   
    {%endblock%}
    </main>
    <footer>
        <ul>
            <li class="foot-head">Crypt</li>
            <li><a href="/">Home</a></li>
            <li><a href="/instructions">Manual</a></li>
            <li><a href="/contact">Contact</a></li>
            <li>Made by <strong>Parameshwar Arunachalam</strong></li>
        </ul>
    </footer>
</body>
</html>