{%extends 'base_layout.html'%}
{%block content%}
<main>
        <div class="contact-section-1">
        <h2 class="contact-head">contact</h2>
        <img src="/static/profile.jpg">
        </div>
        <div class="contact-section-2">
            <p>Hi Everyone, 
            <p>I am Parameshwar Arunachalam, pursuing an engineering degree on Automobile major. I do coding and illustration works for fun. This cipher Crypt is one of the fun project of mine while I was learning python. I built this website using python-django, HTML5, CSS. If you want to report any bug or to share your views and experience about my web-app you can contact me on this email id </p><p class="email"><em> parameshwar273@gmail.com</em></p>
            <p class="contact-ending"> Hope you like this website and had fun,
            <br> Thanks for trying crypt.</p>
        </div>
</main>    
{%endblock%}
