{%extends 'base_layout.html'%}
{%block content%}
    <main>
        <div class="instructions-wrapper">
        <div class="instructions-section-1">
        <h2 class="instructions-head">Instructions</h2>
        <h3 class="instructions-steps">:::Steps to be followed:::</h3>
        <ul>
            <li>In the homepage you will find two circular icons "Encrypt" and "Decrypt".</li>
            <li>Choose the icon to perform the opearation you want.</li>
            <li>You will be redirected to another page contains a textbox, type or paste the message in it.</li>
            <li>Click the button to process.</li>
            <li>You will see the page containing another textbox, which displays the processed message.</li>
            <p><div class="note">Note: Please read the limitations before using Crypt to avoid errors</p></div>
        </ul>
        </div>
        <div class="instructions-section-2">
        <h2 class="instructions-exception">Limitations</h2>
        <ul>
            <li>No language other than english cannot be encrypted(you can encrypt numbers)</li>
            <li>It cannot convert alt codes or any special symbols</li>
        </ul>
        </div>
    </div>
    </main>
{%endblock%}